
@font-face {font-family: 'CoreSansN35Light';src: url('../fonts/270914_0_0.eot');src: url('../fonts/270914_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/270914_0_0.woff') format('woff'),url('../fonts/270914_0_0.ttf') format('truetype'),url('../fonts/270914_0_0.svg#wf') format('svg');}


@font-face {font-family: 'CoreSansN45Regular';src: url('../fonts/270914_2_0.eot');src: url('../fonts/270914_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/270914_2_0.woff') format('woff'),url('../fonts/270914_2_0.ttf') format('truetype'),url('../fonts/270914_2_0.svg#wf') format('svg');}
