@import url(../../vendor/h5bp/css/normalize.css);
@import url(../../vendor/h5bp/css/main.css);
@import url(fonts.css);
/*-- HTML5 Boilerplate. ----------------------------------------------------- */
/*-- Application stylesheets. ----------------------------------------------- */
* {
  font-family: "CoreSansN35Light";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

h2 {
  font-size: 16px;
  color: #b5b5b5;
  text-align: center;
  font-weight: normal; }

h1 {
  color: #2c3e50;
  font-size: 42px;
  font-family: "CoreSansN35Light";
  font-weight: normal;
  margin: 0px; }

p {
  font-size: 14px;
  line-height: 28px; }

header {
  width: 100%;
  height: 530px;
  background: #3c3c3c;
  position: relative;
  overflow: hidden; }
  header .logo-container {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative; }
    header .logo-container .map-pin {
      background: url("../images/logo-pin.svg") no-repeat center bottom;
      background-size: cover;
      width: 50px;
      height: 65px;
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation: pinDown 2s ease-in-out;
      -moz-animation: pinDown 2s ease-in-out;
      animation: pinDown 2s ease-in-out; }
    header .logo-container .map {
      background: url("../images/logo-bottom.svg") no-repeat center bottom;
      background-size: cover;
      width: 105px;
      height: 65px;
      overflow: hidden;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-animation: mapUp 1s ease-in-out;
      -moz-animation: mapUp 1s ease-in-out;
      animation: mapUp 1s ease-in-out; }
    header .logo-container h1 {
      text-align: center;
      color: white;
      position: absolute;
      font-family: "CoreSansN35Light";
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: 0 auto; }
  header #question-container {
    width: 545px;
    height: 294px;
    margin: 0 auto;
    z-index: 200;
    position: relative;
    background: url("../images/question-content-shadow.png") no-repeat center bottom;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-animation: scaleFadeIn 1s ease-in-out;
    -moz-animation: scaleFadeIn 1s ease-in-out;
    animation: scaleFadeIn 1s ease-in-out; }
    header #question-container .tag-lines {
      height: 50px;
      padding: 0px 20px;
      overflow: hidden;
      width: 100%; }
    header #question-container #question-content {
      width: 470px;
      height: 80px;
      background: white;
      border: 1px solid #bababa;
      padding: 0px 20px;
      line-height: 78px;
      left: 37.5px;
      position: absolute;
      z-index: 20;
      -webkit-transition: all 0.5s ease-in-out; }
      header #question-container #question-content label {
        float: left; }
      header #question-container #question-content .buttons {
        float: right;
        text-align: right; }
        header #question-container #question-content .buttons input[type="button"] {
          width: 65px;
          border: none;
          background-color: white;
          color: #939393;
          font-family: "CoreSansN35Light";
          font-size: 14px; }
          header #question-container #question-content .buttons input[type="button"]:hover {
            color: #2ecc71;
            text-decoration: underline; }
          header #question-container #question-content .buttons input[type="button"]:active {
            font-size: 12px; }
        header #question-container #question-content .buttons input[value="Yes"] {
          background-image: url("../images/sprites.svg");
          background-position: -56px -14px;
          width: 28px;
          height: 24px;
          margin: 0px 10px;
          text-indent: -1000px;
          -webkit-transition: background-position 0.2s ease-in-out; }
          header #question-container #question-content .buttons input[value="Yes"]:hover {
            background-position: -56px -57px; }
        header #question-container #question-content .buttons input[value="No"] {
          background-image: url("../images/sprites.svg");
          background-position: -14px -15px;
          width: 22px;
          height: 24px;
          margin-left: 10px;
          text-indent: -1000px;
          -webkit-transition: background-position 0.2s ease-in-out; }
          header #question-container #question-content .buttons input[value="No"]:hover {
            background-position: -14px -58px; }
        header #question-container #question-content .buttons input[value=">21"], header #question-container #question-content .buttons input[value="46+"] {
          width: 43px; }
    header #question-container #question-controller {
      width: 150px;
      height: 80px;
      line-height: 78px;
      color: white;
      right: 20px;
      position: absolute;
      -webkit-transition: all 0.5s ease-in-out; }
      header #question-container #question-controller input[type="submit"] {
        width: 150px;
        height: 80px;
        background: url("../images/progressbar.png") 0% 100% no-repeat #49ba6f;
        border: 0px;
        padding: 0px 20px;
        color: white;
        font-family: "CoreSansN45Regular";
        -webkit-transition: background-size 0.5s ease-in-out; }
      header #question-container #question-controller.hidden {
        right: 35px;
        display: block !important; }

#map-container {
  width: 800px;
  height: 450px;
  margin: 0 auto;
  position: absolute;
  top: 280px;
  right: 0px;
  left: 0px;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  #map-container:after {
    content: "\00a0";
    width: 1004px;
    height: 15px;
    background: #d3ccb7;
    position: absolute;
    left: -103px;
    right: 0px;
    margin-top: -106px; }
  #map-container #map-canvas {
    background: #333333;
    -webkit-transform-origin: center center;
    -webkit-transform: perspective(1000px) rotateX(65deg) !important;
    -moz-transform: perspective(1000px) rotateX(65deg) !important;
    -ms-transform: perspective(1000px) rotateX(65deg) !important;
    -o-transform: perspective(1000px) rotateX(65deg) !important;
    transform: perspective(1000px) rotateX(65deg) !important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: all 1s ease-in-out; }
  #map-container.foreground {
    width: 100%;
    height: 100%;
    top: 0px; }
    #map-container.foreground:after {
      display: none; }
    #map-container.foreground #map-canvas {
      width: 100%;
      height: 100%;
      -webkit-transform: perspective(1000px) rotateX(0deg) !important;
      -moz-transform: perspective(1000px) rotateX(0deg) !important;
      -ms-transform: perspective(1000px) rotateX(0deg) !important;
      -o-transform: perspective(1000px) rotateX(0deg) !important;
      transform: perspective(1000px) rotateX(0deg) !important; }

section#about-placeme {
  width: 100%;
  height: 650px;
  background: url("../images/bigmap-shadow.png") center -20px no-repeat; }
  section#about-placeme .about-content {
    width: 1080px;
    height: 315px;
    margin: 0 auto;
    padding-top: 220px; }
    section#about-placeme .about-content .our-app {
      width: 425px;
      height: 315px;
      margin-right: 55px;
      overflow: hidden;
      float: left; }
    section#about-placeme .about-content .our-video {
      width: 600px;
      height: 315px;
      float: left;
      overflow: hidden;
      background: url("../images/video-placeholder.jpg") center center no-repeat; }

section#twitter {
  width: 100%;
  height: 220px;
  background-color: #49ba6f;
  margin: 0 auto; }
  section#twitter .bird {
    width: 96px;
    height: 96px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    top: 70px; }
    section#twitter .bird .bird-body {
      width: 96px;
      height: 96px;
      background: url("../images/bird-body.svg") center center no-repeat;
      position: absolute;
      top: 0px; }
    section#twitter .bird .bird-wings {
      width: 50px;
      height: 60px;
      padding: 47px;
      background: url("../images/bird-wings.svg") 15px 13px no-repeat;
      position: absolute;
      -webkit-transform-origin: 54px center;
      -moz-transform-origin: 54px center;
      -ms-transform-origin: 54px center;
      -o-transform-origin: 54px center;
      transform-origin: 54px center;
      cursor: pointer;
      -webkit-animation: wings 4s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

html.map-active #question-container {
  display: none; }
html.action-button-visible #question-container {
  width: 670px; }
  html.action-button-visible #question-container #question-content {
    left: 20px; }

#gmnoprint, .gmnoprint {
  display: none !important; }

#suburb-info {
  top:        0;
  left:       0;
  position:   absolute;
  height:     100%;
  width:      400px;
  margin:     0;
  padding:    0;
  clear:      both;
  background-color: white;
  display:    none;
  z-index:    99;
}
