<div class="header" style="background-image: url({{streetViewImage}})">
  <h2>{{suburbName}}</h2>
  <h3>{{postCode}}</h3>
</div>
<div class="sub-bar">

  <a class="tweet">Tweet</a>
  <a class="email">Email</a>

  <a class="close">Close</a>

</div>

<div class="about">
  {{suburbInfo}}
</div>

<div class="stats">

  <h2>Average Cost To Purchase</h2>
  <p>{{avgCostPurchase}}</p>

  <h2>Average Cost To Rent</h2>
  <p>{{avgCostRent}}</p>

</div>

<div class="criteria">



</div>

<div class="distances">

  <p class="distance">{{cbdDistance}}</p>
  <p class="distance">{{airportDistance}}</p>
  <p class="distance">{{coastlineDistance}}</p>

</div>